@if(!product ||loading){
<app-loading-screen></app-loading-screen>
}
@else {

<div
  class=" grid sm:gap-8 lg:gap-0 h-4/10 grid-cols-12 justify-center   bg-neutral-primary-soft p-6 border border-default rounded-3xl shadow-main w-full   py-10  sm:mt-12">
  <div class="img xl:col-span-6 sm:col-span-12">
    <!-- <img class=" w-full rounded-base h-[600px]  mb-4 md:mb-0 " [src]="product.imageCover" alt=""> -->


    <div class=" flex  gap-2  items-center  space-y-4 ">
      <!-- width20 -->

      <div class=" space-y-4   ">



        @for (image of product.images; track $index) {


        <div class="">
          <img class="h-[90px] max-w-full rounded-3xl cursor-pointer" [src]="image" [alt]="product.title"
            (mouseover)="mainImage.src=image">
        </div>

        }



      </div>
      <div class="">
        <img class=" max-w-full rounded-4xl h-[500px]" [src]="product.imageCover" alt="" #mainImage imagePlaceHolder>
      </div>
    </div>

  </div>
  <div class="flex flex-col  md:p-4 leading-normal xl:col-span-5 sm:col-span-12 px-6">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading py-7">{{product.title}}</h5>
    <div class="pb-5">
      <span><i class="fa-solid fa-star text-rating "></i></span>
      <span><i class="fa-solid fa-star text-rating"></i></span>
      <span><i class="fa-solid fa-star text-rating"></i></span>
      <span><i class="fa-solid fa-star text-rating"></i></span>
      <i class="fa-solid fa-star-half-stroke text-rating"></i>
      <span class="px-3">{{product.ratingsQuantity}} Review</span>
      <span class=" border-s-2 border-gray-300 "></span>
      <span class="space-x-3">

        <a href="#" class="text-sm font-medium text-fg-brand ps-3 "><i
            class="fa-brands fa-facebook text-gray-400"></i></a>
        <a href="#" class="text-sm font-medium text-fg-brand "><i class="fa-brands fa-twitter text-gray-400"></i></a>
        <a href="#" class="text-sm font-medium text-fg-brand "><i class="fa-solid fa-phone text-gray-400"></i></a>
      </span>
    </div>
    <a href="" class="coursor-pointer py-2 font-bold">

      <span class=" uppercase  w-fit text-[16px] text-gray-500">
        <span class="text-black">

          category :
        </span>
        {{product.category.name}}</span>
    </a>
    <a href="" class="coursor-pointer py-2 font-bold">

      <span class="  uppercase     w-fit text-[16px] text-gray-500">
        <span class="text-black">

          brand :
        </span>
        {{product.brand.name}}</span>
    </a>
    <span class="uppercase w-fit text-[18px] font-bold">Stock :
      <span class="text-gray-500">{{totalQuantity}}</span>
    </span>

    <p class="mb-6 text-xl text-gray-600 pt-3"><span class="text-gray-500">Brief Description :
      </span>{{product.description}}</p>

    <div class="pb-6 flex justify-between w-5/6">
      <span class="text-3xl font-bold text-main-600">{{product.price}} $</span>
      <span (mouseenter)="icon.classList.add('text-main-400')"
        (mouseleave)="!isLike &&icon.classList.remove('text-main-400')" (click)="addToWishlist(product._id)"
        class="cursor-pointer"><i class="fa-solid fa-heart text-3xl" #icon [class.text-main-400]="isLike"></i>
        <span class="text-xl font-bold capitalize text-gray-500"> Add to wishlist</span></span>
    </div>
    <!-- quantity -->


    <h5 class="text-gray-500 font-bold uppercase">quantity</h5>
    <div class="bg-light border border-gray-500/50 rounded py-2 px-4 flex w-fit space-x-3 my-3">
      <button (click)="decrementtITem()"><i class="fa-solid fa-minus cursor-pointer"></i></button>
      <span class="border-l-2 border-gray-300 border-r-2 px-3">{{quantityOfItem}}</span>
      <button (click)="incrementITem()"><i class="fa-solid fa-plus cursor-pointer"></i></button>


    </div>






    <div class="space-x-3">
      <button type="button" class=" w-2/5 py-3 text-xl btn-cart  hover:bg-black" (click)=" addToCart(product._id)">
        <i class="fa-solid fa-cart-plus"></i> Add to cart

      </button>
      <button type="button" class=" w-4/9 py-3 text-xl btn-cart  bg-black hover:bg-main-500">
        <i class="fa-regular fa-credit-card"></i> Buy it now

      </button>
    </div>
  </div>
</div>
}