<nav class="bg-neutral-primary fixed w-full z-50 top-0 start-0 border-b border-default">
  <div class="content flex items-center justify-between mx-auto p-4">
    <!-- Logo -->
    <a routerLink="/home" class="flex items-center space-x-3">
      <img src="./images/freshcart-logo.svg" class="h-7" alt="FreshCart Logo" />
    </a>

    <!-- Desktop Navigation Menu (Hidden on mobile) -->
    <div class="hidden lg:block">
      <ul class="flex flex-row items-center space-x-7">
        <li>
          <a routerLink="/home" routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white"
            class="text-gray-500 hover:text-gray-900">Home</a>
        </li>
        <li>
          <a routerLink="/product" routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white"
            class="text-gray-500 hover:text-gray-900">Products</a>
        </li>
        <li>
          <a routerLink="/categories" class="text-gray-500 hover:text-gray-900"
            routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Categories</a>
        </li>
        <li>
          <a routerLink="/brand" class="text-gray-500 hover:text-gray-900"
            routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Brands</a>
        </li>
      </ul>
    </div>

    <div class="flex items-center space-x-7 rtl:space-x-reverse">


      @if (authService.isAuth()) {

      <!-- Wishlist -->
      <div class="hidden lg:block">
        <a routerLink="/wishlist" class="flex flex-col items-center gap-1 hover:text-danger transition">
          <i class="fa-solid fa-heart text-xl"></i>
        </a>
      </div>

      <!-- Cart -->
      <div class="relative hidden lg:block">
        <a routerLink="/cart" class="flex flex-col items-center gap-1 hover:text-primary transition">
          <i class="fa-solid fa-cart-shopping text-xl"></i>
          @if (authService.isAuth()) {
          @if (cartServices.numOfCartItems) {
          <span class="absolute -top-1 -right-2 flex items-center justify-center
                        w-5 h-5 text-2xs font-bold text-white
                        bg-danger rounded-full">
            {{ cartServices.numOfCartItems }}
          </span>
          }

          }
        </a>
      </div>

      }

      <!-- User Account -->
      <div class="relative">
        <div class="flex items-center gap-2 px-2 sm:px-3 py-1.5 rounded-full
  bg-gray-100 hover:bg-gray-200 transition cursor-pointer" (click)="openMenuAuth = !openMenuAuth">

          <!-- Avatar -->
          <button type="button" class="w-8 h-8 sm:w-9 sm:h-9 flex items-center justify-center rounded-full
    bg-main-500 text-white">
            <i class="fa-solid fa-user text-xs sm:text-sm"></i>
          </button>

          <!-- Name -->
          @if (authService.isAuth()) {
          <span class="text-xs sm:text-sm font-medium capitalize hidden sm:inline cursor-pointer">
            {{ authService.useInfo?.name }}
          </span>
          } @else {
          <span class="text-xs sm:text-sm font-medium text-gray-500 hidden sm:inline cursor-pointer">
            Guest
          </span>
          }

        </div>


        <!-- Dropdown menu -->
        <div
          class="z-50 absolute top-full right-0 mt-2 bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
          [class.hidden]="openMenuAuth">

          <ul class="p-2 text-sm space-y-3">

            @if(authService.isAuth()) {
            <li>
              <a class="cursor-pointer text-gray-500 hover:text-gray-900 block py-2" (click)="logOut()"
                routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">
                Logout <i class="fa-solid fa-right-from-bracket"></i>
              </a>
            </li>
            <li>
              <a class="cursor-pointer text-gray-500 hover:text-gray-900 block py-2" routerLink="/profile"
                routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">
                <i class="fa-regular fa-address-card"></i> Profile
              </a>
            </li>
            <li>
              <a class="cursor-pointer text-gray-500 hover:text-gray-900 block py-2" routerLink="/changePassword"
                routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">
                ChangePass
              </a>
            </li>
            }

            @else {
            <li>
              <a routerLink="/login" class="text-gray-500 hover:text-gray-900 block py-2"
                routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Login</a>
            </li>
            <li>
              <a routerLink="/register" class="text-gray-500 hover:text-gray-900 block py-2"
                routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Register</a>
            </li>
            }
          </ul>
        </div>
      </div>

      <!-- Mobile Menu Button -->

      <button type="button"
        class="inline-flex items-center p-2 cursor-pointer w-10 h-10 justify-center text-sm text-body rounded-base lg:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        (click)="openBar=!openBar">
        <span class="sr-only">Open main menu</span>
        <i class="fa-solid fa-bars fa-xl"></i>
      </button>

    </div>
  </div>

  <!-- Mobile Navigation Menu -->
  <div class="lg:hidden border-t border-default" [class.hidden]="openBar">
    <div class="content mx-auto">
      <ul class="flex flex-col p-4 space-y-3">
        <li>
          <a routerLink="/home" class="text-gray-500 hover:text-gray-900 block py-2"
            routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Home</a>
        </li>
        <li>
          <a routerLink="/product" class="text-gray-500 hover:text-gray-900 block py-2"
            routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Products</a>
        </li>
        <li>
          <a routerLink="/categories" class="text-gray-500 hover:text-gray-900 block py-2"
            routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Categories</a>
        </li>
        <li>
          <a routerLink="/brand" class="text-gray-500 hover:text-gray-900 block py-2"
            routerLinkActive="btnn text-white px-5 hover:bg-main-600 hover:text-white">Brands</a>
        </li>
      </ul>
    </div>
  </div>
</nav>