<section class="bg-white min-h-screen flex items-center px-8">
  <div class="content lg:grid lg:grid-cols-2 lg:items-center lg:justify-between lg:h-full lg:gap-4">
    <div class="bg-[#F4F8FB] rounded-2xl shadow-xl  w-full mx-auto mt-14  p-5 ">
      <div>

        <h2 class="text-3xl text-center py-5  font-bold">Register Now</h2>
        <div>
          <app-login-form></app-login-form>
        </div>
      </div>
    </div>
    <div>
      <img class="w-full"
        src="/images/seasonal-sale-discounts-presents-purchase-visiting-boutiques-luxury-shopping-price-reduction-promotional-coupons-special-holiday-offers-vector-isolated-concept-metaphor-illustration_33.avif"
        alt="">
    </div>

  </div>
</section>