<div class="min-h-screen flex items-center bg-white ">
  <div class="lg:grid lg:grid-cols-2 lg:items-center lg:h-full content">
    <div
      class="bg-[#F4F8FB] rounded-2xl shadow-main w-full mx-auto mt-14 flex-col justify-center items-center p-5 py-18">
      <div>

        <h2 class="text-3xl text-center py-5  font-bold">Forget Password</h2>
        <div>
          <app-forget-password-form></app-forget-password-form>
        </div>
      </div>
    </div>

    <div class="">
      <img src="/images/forgot-account-.webp" alt="" class="w-full">
    </div>
  </div>
</div>