<div
  class="bg-neutral-primary-soft block  border-3 border-gray-300 rounded-base text-center group
   hover:border-2 shadow-md hover:shadow-xl  hover:border-main-500 transition-all duration-300 cursor-pointer overflow-hidden">
  <!-- [queryParams]="{'category[in]':category._id}"   [fragment]="category.name" -->
  <div [routerLink]="['/categories',category._id]" (click)="categoriesServices.getSpecificCategory(category._id)">
    <img class="rounded-t-base w-full h-[320px] group-hover:scale-100 transition-all duration-300"
      [src]="category.image" [alt]="category.name" imagePlaceHolder />
  </div>
  <div class="p-6 text-center">

    <a (click)="categoriesServices.getSpecificCategory(category._id)">
      <h5
        class="mt-3 mb-6 text-2xl font-semibold tracking-tight text-heading group-hover:font-bold group-hover:text-main-500">
        {{category.name}}</h5>
    </a>
    <span class='text-gray-500'>
      {{category.createdAt}}
    </span>
  </div>
</div>