/* :root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
} */
@theme {
  --color-main-200: #9dde9d;
  --color-main-100: #ceefce;
  --color-main-300: #6cce6c;
  --color-main-400: #3bbd3b;
  --color-main-500: #0aad0a;
  --color-main-600: #088a08;
  --color-main-700: #066806;
  --color-main-800: #044504;
  --color-main-900: #022302;
  --font-family-main: 'Encode Sans Expanded', sans-serif;
  --shadow-main: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --color-rating: #ffc908;
  --color-light: #f0f3f2;
}

/*  --color-main-200: #f3b7be;
  --color-main-100: #f9dbde;
  --color-main-300: #ed929d;
  --color-main-400: #e76e7d;
  --color-main-500: #e14a5c;
  --color-main-600: #b43b4a;
  --color-main-700: #872c37;
  --color-main-800: #5a1e25;
  --color-main-900: #2d0f12; */
