<div class="">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide> <img src="/images/mplc-slider-slide-1-opt.jpg-1.webp" class="w-full h-[300px]"
        alt="product1"></ng-template>
    <ng-template carouselSlide> <img src="/images/mplc-slider-slide-2-opt.jpg" class="w-full h-[300px]"
        alt="product2"></ng-template>
    <ng-template carouselSlide> <img src="/images/mplc-slider-slide-3-opt.jpg" class="w-full h-[300px]"
        alt="product3"></ng-template>
  </owl-carousel-o>
</div>