<div class="grid grid-cols-12">
  <div class="col-span-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide> <img src="/images/img1.avif" class="w-full h-[300px]" alt="product1"></ng-template>
      <ng-template carouselSlide> <img src="/images/img2.avif" class="w-full h-[300px]" alt="product2"></ng-template>
      <ng-template carouselSlide> <img src="/images/img3.avif" class="w-full h-[300px]" alt="product3"></ng-template>
      <ng-template carouselSlide> <img src="/images/img4.avif" class="w-full h-[300px]" alt="product4"></ng-template>
      <ng-template carouselSlide> <img src="/images/img5.avif" class="w-full h-[300px]" alt="product5"></ng-template>
      <ng-template carouselSlide> <img src="/images/img6.avif" class="w-full h-[300px]" alt="product6"></ng-template>
      <ng-template carouselSlide> <img src="/images/img7.avif" class="w-full h-[300px]" alt="product7"></ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-span-3">
    <img src="/images/slider-image-2.jpeg" class="h-[150px] w-full" alt="slider1">
    <img src="/images/slider-image-3.jpeg" class="h-[150px] w-full" alt="slider2">
  </div>
</div>
