<section class="lg:bg-white min-h-screen flex items-center">

  <div class="content lg:grid lg:grid-cols-2 lg:items-center lg:h-full lg:gap-3 ">
    <div class="w-full ">

      <app-register-form></app-register-form>
    </div>
    <div class="sticky top-0 hidden lg:block">
      <img
        src="/images/seasonal-sale-discounts-presents-purchase-visiting-boutiques-luxury-shopping-price-reduction-promotional-coupons-special-holiday-offers-vector-isolated-concept-metaphor-illustration_335657.avif"
        alt="" class="w-full">
    </div>
  </div>
</section>