<div class=" py-5 px-8 space-y-5 rounded-3xl shadow-main bg-white ">
  <h3 class="text-2xl font-bold">Order Summmary</h3>
  <div class="flex justify-between text-gray-400 text-nowrap ">
    <p><span>Orginal price</span></p>
    <p><span>500</span></p>
  </div>
  <div class="flex justify-between text-gray-400 text-nowrap ">
    <p><span>Savings</span></p>
    <p class="text-main-600"><span>500</span></p>
  </div>
  <div class="flex justify-between text-gray-400 text-nowrap ">
    <p><span>Store Pickup</span></p>
    <p class=""><span>500</span></p>
  </div>
  <div class="flex justify-between text-gray-400 text-nowrap ">
    <p><span>Tax</span></p>
    <p class=""><span>500</span></p>
  </div>
  <div class="flex justify-between border-t border-t-gray-300  text-nowrap pt-4">
    <p><span>Total</span></p>
    <p class=""><span>{{totalPrice}}</span></p>
  </div>
  <a [routerLink]="['/payment',cartID]">

    <button class="btn-cart w-full">
      Checkout
    </button>
  </a>
</div>
