<section class="content ">
  <div>
    <app-section-title [title]="'common products'"></app-section-title>

    @if (!productsService.allProducts||productsService.loadingPage) {
    <app-loading-screen></app-loading-screen>
    }
    @else {


    <div class="system-Grid">
      @for (product of productsService.allProducts | paginate:
      { itemsPerPage:limit, currentPage: page,totalItems: productsService.total}; track product._id ) {

      <app-product-card [product]="product"></app-product-card>
      }
    </div>
    <div class="my-20 flex justify-center items-center">

      <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>

    </div>
    }
  </div>


</section>